name: Autoreconf
on:
  workflow_call:
    inputs:
      cmd:
        type: string
        default: autoreconf -i
      src:
        type: string
        default: ${{github.ref_name}}
      dst:
        type: string
        default: ${{github.ref_name}}-auto
jobs:
  auto:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{inputs.src}}
      - name: auto
        run: |
          set -ex
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout -b ${{inputs.dst}}
          ${{inputs.cmd}}
          git add .
          git diff --cached --quiet ||
            git commit -m "$(git show --quiet --pretty=format:%s) / auto"
          git push -f -u origin HEAD
