name: Build with the NDK
on:
  workflow_call:
    inputs:
      build:
        type: string
        required: true
      reconf:
        type: string
        required: false
        default: echo nothing to do
      dir:
        type: string
        required: false
        default: BUILD
      name:
        type: string
        required: false
        default: ${{github.event.repository.name}}
      ref:
        type: string
        default: ${{github.ref_name}}
env:
  SRC: ${{github.workspace}}
  OUT: ${{github.workspace}}/${{inputs.dir}}/out
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64, x86_64, armv7a, i686]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
          with:
            ref: ${{inputs.ref}}
      - name: Make directories and reconfigure the sources
        id: mkdirs
        run: |
          mkdir -p ${{env.OUT}}
          ${{inputs.reconf}}

      - name: Build with the NDK
        id: build
        run: ${{inputs.build}} ${{matrix.arch}} "$ANDROID_NDK"

      - name: Save output
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: ${{inputs.name}}-android-${{matrix.arch}}${{steps.build.conclusion == 'failure' && '-FAILED' || ''}}
          path: ${{env.OUT}}
