name: Sync with upstream
on:
  workflow_call:
    inputs:
      branch: { type: string }
      upstream: { type: string }
      op: { type: string, default: merge }
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.SYNC}}
          ref: ${{inputs.branch}}
          fetch-depth: 0
      - name: merge
        run: |
          set -ex
          user=${{github.repository_owner}}
          email=$(git log -n1 --author="$user" --format=format:%ae)
          git config user.name "$user[sync]"
          git config user.email "${email:-actions@github.com}"
          git remote add upstream ${{inputs.upstream}}
          git fetch upstream
          git ${{inputs.op}} upstream/master
          git push {{$inputs.op == 'rebase' && '-f' || ''}}
